<main>
  <h3>Hello, {{user_name}}</h3>
  <p>Today is {{date}}</p>
  <p1>Current Mode : {{userVisibility}}</p1>
<div class="visible-users">
  {{#if usersWorkingOut}}
      <h2>Who's Working Out Today?</h2>
  {{else}}
      <h4 style="color:red;">NO PUBLIC USERS WORKING OUT</h4>
  {{/if}}
  <p>
    {{#each visibleUsers}}
      <h3 style="font-weight: bold;">{{firstName}} {{lastName}}</h3>
      <h3 style="font-weight: bold;">Workout(s):</h3>
      {{#each upcomingReservations}}
        <p style="font-weight: bold; font-style: italic">{{startTime}} - {{endTime}} ({{location}}):</p>
        <p>{{workouts}}</p>
      {{/each}}
      <br>
    {{/each}}
  </p>
</div>
</main>