<main>
  <h3>Hello, {{user_name}}</h3>
  <p>Today is {{date}}</p>
  <p1>Current Mode : {{userVisibility}}</p1>
  <ul>
    {{#each users}}
      <li class="user-in-list">
        <h2>s{{name}}</h2>
        <p class="user-location">At {{location}}</p>
        <p class="user-workouts">
          {{#each workouts}}
            {{this}}
          {{/each}}
        </p>
      </li>
    {{/each}}
  </ul>
<div class="visible-users">
  <h3>Who's Working Out Today?</h3>
  <p>
    {{#each visibleUsers}}
      <p style="font-weight: bold;">{{firstName}} {{lastName}}</p>
      <p>Workout: {{upcomingReservations}} </p>
      <br>
    {{/each}}
  </p>
</div>
</main>