<main>
    <div id="homepage-container">
        <div id="homepage-greeting">
            <h2>Hello, {{user_name}}</h2>
            <p>Today is {{date}}</p>
            <p>Current Mode : {{userVisibility}}</p>
            <div id="user-reservations">
                <h3>Upcoming Reservations:</h3>
                {{#each userReservations}}
                    <p id="reservation">{{startTime}} - {{endTime}} ({{location}})</p>
                    {{#if workouts}}
                        <p>{{workouts}}</p>
                    {{/if}}
                    {{#if timeToCheckIn}}
                        {{#if checked}}
                            <em>Checked In!</em>
                        {{else}}
                            <a class="checkIn" data-id="{{id}}">Check In</a>
                        {{/if}}
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="visible-users">
            {{#if usersWorkingOut}}
                <h2>Who's Working Out Today?</h2>
            {{else}}
                <h3 style="color:red;">NO PUBLIC USERS WORKING OUT</h3>
            {{/if}}
            <p>
                {{#each visibleUsers}}
                <h3 id="visible-users"><u>{{firstName}} {{lastName}}</u></h3>
                <h4 id="workout-list">Workout(s):</h4>
                {{#each upcomingReservations}}
                    <p id="reservation-info"><b><i>{{startTime}} - {{endTime}} ({{location}})</i></b></p>
                    {{#if workouts}}
                    <p>{{workouts}}</p>
                    {{/if}}
                {{/each}}
                <br>
                {{/each}}
            </p>
        </div>
    </div>
</main>