<main>
    <div id="homepage-container">
        <div id="homepage-greeting">
            <h2>Hello, {{user_name}}</h2>
            <p>Today is {{date}}</p>
            <p>Current Mode : {{userVisibility}}</p>
        </div>
        <div class="visible-users">
            {{#if usersWorkingOut}}
                <h2>Who's Working Out Today?</h2>
            {{else}}
                <h3 style="color:red;">NO PUBLIC USERS WORKING OUT</h3>
            {{/if}}
            <p>
                {{#each visibleUsers}}
                <h3 style="font-weight: bold;"><u>{{firstName}} {{lastName}}</u></h3>
                <h4 style="font-weight: bold;">Workout(s):</h4>
                {{#each upcomingReservations}}
                    <p style="font-weight: bold; font-style: italic">{{startTime}} - {{endTime}} ({{location}})</p>
                    {{#if workouts}}
                    <p>{{workouts}}</p>
                    {{/if}}
                {{/each}}
                <br>
                {{/each}}
            </p>
        </div>
    </div>
</main>