<main>
    <div id="homepage-container">
        <div id="homepage-greeting">
            <h2>Hello, {{user_name}}</h2>
            <p>Today is {{date}}</p>
            <p>Current Mode : {{userVisibility}}</p>
            <div id="user-reservations">
                <h3>Upcoming Reservations:</h3>
                {{#if userReservations}}
                    {{#each userReservations}}
                        <p id="reservation">{{date}}: {{startTime}} - {{endTime}} ({{location}})</p>
                        {{#if workouts}}
                            <p>{{workouts}}</p>
                        {{/if}}
                        {{#if timeToCheckIn}}
                            {{#if checked}}
                                <em>Checked In!</em>
                            {{else}}
                                <a class="checkIn" data-id="{{id}}">Check In</a>
                            {{/if}}
                        {{/if}}
                    {{/each}}
                    {{else}}
                        <p>No reservations for today</p>
                {{/if}}
            </div>
            <h3>Hot Zones : </h3>
            <p>Least Crowded Hours in UCC: {{bestTimesUCC}}</p>
            <p>Most Crowded Hours in UCC: {{worstTimesUCC}}</p>
            <p>Least Crowded Hours in Schaefer: {{bestTimesSCH}}</p>
            <p>Most Crowded Hours in Schaefer: {{worstTimesSCH}}</p>
        </div>
        <div class="visible-users">
            {{#if usersWorkingOut}}
                <h2>Who's Working Out Today?</h2>
            {{else}}
                <h3>NO PUBLIC USERS WORKING OUT</h3>
            {{/if}}
            <p>
                {{#each visibleUsers}}
                <h3 id="visible-users"><u>{{firstName}} {{lastName}}</u></h3>
                <h4 id="workout-list">Workout(s):</h4>
                {{#each upcomingReservations}}
                    <p id="reservation-info"><b><i>{{startTime}} - {{endTime}} ({{location}})</i></b></p>
                    {{#if workouts}}
                    <p>{{workouts}}</p>
                    {{/if}}
                {{/each}}
                <br>
                {{/each}}
            </p>
        </div>
    </div>
    <div class="reservationGraph" id="todaysReservationsGraph"></div>
    <script>
        Plotly.newPlot("todaysReservationsGraph", /* JSON object */ {
          "data" : [{
            'x': ["8am", "9am", "10am", "11am", "12pm", "1pm", "2pm", 
            "3pm", "4pm", "5pm", "6pm", "7pm", "8pm", "9pm", "10pm", "11pm"],
            'y': [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
            'type': 'bar'}],
        })
    </script>
</main>