<main>
     <form id="reservation-form">
        <label for="startTimeInput">Start Time</label>
        <input list="startTimes" id="startTimeInput" name="startTimeInput">
        <datalist id="startTimes">
            {{#each {{startTimes}}}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </datalist>
        <label for="endTimeInput">End Time</label>
        <input list="endTimes" id="endTimeInput" name="endTimeInput">
        <datalist id="endTimes">
            {{#each {{endTimes}}}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </datalist>
        <button type="submit">Create Reservation</button>
     </form>
     <div id="hot-zones-graph"></div>
</main>